<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">

  {% include head.html %}

  <body class="theme-base-08 layout-reverse">

    <header class="masthead">
      <div class="masthead-inner">
        <img src="{{ site.profile_image }}" style="border-radius: 50%; width: 200px; height: 200px;">
        <a href="/"><h1>{{ site.title }}</h1></a>
        <p class="lead">{{ site.description }}</p>
         <div class="colophon">
          <ul class="colophon-links">
            <li>
            <a href="/blog">Blogs</a>
            </li>
            <li>
            <a href="/archive">Archive</a>
            </li>
            <li>
                <a href="/public/vinit_resume.pdf">Resume</a>
            </li>
            <li class="footer-icons" style="margin-top: 20px">
              <a href="http://github.com/vinitkumar/"><i class="fa fa-github fa-2x" style="font-size: 1.5em"></i></a>
              <a href="http://twitter.com/vinitkme/"><i class="fa fa-twitter fa-2x" style="font-size: 1.5em"></i></a>
              <a href="https://in.linkedin.com/in/vinitatlinkedin"><i class="fa fa-linkedin fa-2x" style="font-size: 1.5em"></i></a>
              <a href="https://plus.google.com/u/1/+Vinitkumarme"><i class="fa fa-google-plus fa-2x" style="font-size: 1.5em"></i></a>
              <a href="https://gratipay.com/vinitkme/"><i class="fa fa-gratipay fa-2x" style="font-size: 1.5em"></i></a>
            </li>
          </ul>
          <style>
          </style>
          <p>&copy; 2016 {{ site.author.name }}</p>
        </div>
      </div>
  </header>

    <div class="content container">
      {{ content }}
    </div>
    <script async type="text/javascript" charset="utf-8" src="/public/js/ga.js"></script>
  </body>
</html>
